<div class="intro">
  <img id="browserify-logo" src="img/browserify-logo.png">
  <h1>chrome-extensionify</h1>
  <p>You're ready to rock! Visit <a href="https://developer.chrome.com/extensions/getstarted">Chrome Extensions: Getting Started</a> for tips and API docs.</p>
</div>
